
body{
    background-image: url('./../images/milky_way.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.profilePicture {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    object-fit: cover;
}

.backgroundImage {

}
